$colorInput: rgb(247, 236, 38);

$colorInputCorrecto: rgb(81, 216, 39);
$colorBordeInputCorrecto: #0da80d;

$colorInputInCorrecto: rgb(116, 2, 2);
$colorBordeInputInCorrecto: #550101;

$colorInputNormal: #f3b50b;
$colorBordeInputNormal: #124b01;
